
  #timeLeft {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  #timer {
    color: #3273dc;
  }
  #timerBox{
    display: none;
  }
  
  #scoreTable{
    display:none;
  }

  .initialsInput {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  #quizArea {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  #quizArea h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  #quizArea ul {
    margin: 0;
    padding: 0;
  }
  
  #quizArea li {
    margin-bottom: 1rem;
  }
  
  #quizArea button {
    background-color: #0077ff;
    color: #fff;
    padding: 1rem;
    border-radius: 0.1rem;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  #quizArea button:hover {
    background-color: #ffae00;
  }
  #quizContainer{
    display:none;
  }
  #scoreTable{
    font-size: 1.25rem;
    padding: 1rem;
  }