.box {
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  
  .subtitle {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  #timer {
    color: #3273dc;
  }
  #timerBox{
    display: none;
  }
  #scoreTable{
    display:none;
  }
  .initials-input {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #quizArea {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  #quizArea h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  #quizArea ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #quizArea li {
    margin-bottom: 0.5rem;
  }
  
  #quizArea button {
    background-color: #0077ff;
    color: #fff;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  #quizArea button:hover {
    background-color: #363636;
  }
  #quizContainer{
    display:none;
  }